<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
  </head>
  <body>
    <h1>Error [ <%= Status %> ]</h1>
    <p>
      A problem occured while searching for <i> <%= Location %> </i><br />
      <%= Error %>
    </p>
  </body>
</html>
