<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Index</title>
    <link href="/assets/css/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
<div class="box">
    <div class="header">
        <div class="logo-container" onclick="home()">
            <img class="logo-item" height="55px" src="/assets/images/logo.png">
            <label class="logo-item" >The Weather</label>
        </div>

    </div>
    <div class="content-container">
   
        <div id="bg"></div>

        <div id="loading"><label>Loading...</label></div>

        <div id="error">An Error Occured.<br>Please Try Again</div>

        <div id="content-weather">
          <div id="weather-today">
            Current Weather Info
          </div>

          <div id="weather-forecast">
            Weather forecast
          </div>
        </div>

      <div id="content-text">
        <label id="text-upper">View the weather of any location.</label><br><br>
      <label id="text-lower">Enter a city, country, or zip code.<br>
      Start by searching!</label>
      </div>
    </div>
</div>
    <div class="searchBox">
        <input class="searchInput" type="text" name="" placeholder="City, Country, or Zipcode" />
        <button class="searchButton" onclick="getWeather()" onkeydown="onEnterPressed(this)">
          <img class="search-icon" src="/assets/images/search.png"> </img>
        </button>
      </div>
   
    <footer></footer>

    <script type="text/javascript" src="/assets/js/index.js"></script>
  </body>
</html>
