@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

html,
body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

.searchBox {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: linear-gradient(to right, rgb(58, 58, 58), rgb(100, 100, 100));
  height: 40px;
  border-radius: 40px;
  padding: 7px;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: linear-gradient(to right, rgb(91, 162, 228), rgb(153, 102, 231));
  color: #7c7c7c;
}

.searchButton {
  color: rgb(0, 0, 0);
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #b9b9b9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
}

.search-icon {
  width: 90%;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.header {
  flex: 0 1 auto;
  background-color: #212121;
  height: 100px;
  width: 100%;
}

.logo-container {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  cursor: pointer;
}

.logo-item {
  align-self: center;
  padding: 10px;
  background: linear-gradient(to right, rgb(69, 144, 214), rgb(122, 67, 205));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Bungee', cursive;
}

#content-text {
  /* make a text color gradient */
  position: absolute;

  font-family: 'Ubuntu', sans-serif;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#text-upper {
  font-size: 2rem;
  color: white;
}
#text-lower {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.593);
}

#loading,
#error {
  visibility: hidden;

  background-color: rgba(0, 0, 0, 0.556);
  width: 35%;
  height: 35%;
  border-radius: 10px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: 'Ubuntu', sans-serif;

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content-weather {
  visibility: hidden;
  top: 0;
  font-size: 1rem;
  color: white;
  position: absolute;

  width: 100%;
  margin-top: 100px;
}
#weather-forecast {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: 'Ubuntu', sans-serif;
}

#weather-forecast div {
  padding: 30px 10px 10px 10px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.388);
  border-radius: 5px;
  border: 3px solid white;
  min-width: 240px;
  min-height: 200px;
  width: fit-content;
  flex-basis: 10px;
}

.content-container {
  flex: 1 1 auto;
  overflow-x: hidden;
  background-color: black;
  text-align: center;
  position: relative;
  height: 100%;
  border: 1px solid green;
}
.footer {
  flex: 0 1 40px;
}

#weather-today {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-shadow: 1px 4px 5px black;
}

#weather-today div {
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 3%;
  margin-top: 0%;
}

#temp-today-day {
  font-size: 5rem;
  font-family: 'Ubuntu', sans-serif;
}

#temp-today-night {
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
}

#city-name {
  font-size: 5rem;
  padding-bottom: 5px;
  float: right;
  /* font-family: "Yeseva One", cursive; */
  font-family: 'Staatliches', cursive;
}
#today-weekday {
  font-size: 2rem;
  float: right;
  font-family: 'Ubuntu', sans-serif;
}

.temp-day {
  font-size: 3rem;
}
.temp-night {
  font-size: 2rem;
}
.temp-detail {
  font-size: 1.5rem;
}
.temp-weekday {
  font-size: 2rem;
  text-decoration: underline;
}

#weather-current {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
#weather-current div {
  min-width: 230px;
}

#today-detail {
  float: right;
  font-size: 2.2rem;
  float: left;
  text-align: left;
  border-left: solid 3px white;
  padding-left: 30px;
  font-family: 'Ubuntu', sans-serif;
  min-width: 250px;
}

#bg {
  height: 100%;
  width: 100%;
  background-image: url('/assets/images/bg.jpg');
  opacity: 0.6;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  background-size: cover;
  object-fit: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  box-shadow: inset 0 0 100px black;
}
